body{
  a{
    color: LightSlateGray ;
    &:hover{
      color: LightSlateGray ;
      text-decoration: none;
    }
  }
  a:link{
    text-decoration: none;
    color: LightSlateGray;
  }
  background-color: LightGreen;
  .jumbotron{
    text-align: center;
  }
  .carousel-inner{
    text-align: center;
    background-color: PapayaWhip;
    .carousel-caption{
      padding-bottom: 40px;
    }
  }
  .carousel-inner > .item > .image-box > a > img{
    margin: 0 auto;
    height:320px;
  }
  .carousel-pad{
    height: 40px;
  }
  .item{
    height:480px;
  }
  .btn{
    background-color: LightSteelBlue;
    &:hover{
      background-color: MediumSeaGreen;
      color: gold;
    }
  }
  .center-product{
    text-align: center;
    img{
      border:5px solid #F0FFF0;
      margin: auto;
      height: 400px;
    }
    .price{
      border:20px solid #F0FFF0;
      background-color: MediumSeaGreen;
    }
  }
  .shopping-cart {
    border: 2.34px dashed hotpink;
    .cart-item{
      border: 2px solid black;
      height: 125px;
    }
    .total{
      border: 1.3457px solid gold;
    }
  }
}
