<div class="row">
  <div class="col-sm-6">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="carousel-pad">
          </div>
          <div class="image-box">
            <img class="carousel-image" src="../img/gears.jpg" alt="Buy Gears of War 4 today!">
          </div>
          <div class="carousel-caption">
            Buy Gears of War 4 today!
          </div>
        </div>
        <div class="item">
          <div class="carousel-pad">
          </div>
          <div class="image-box">
            <img class="carousel-image" src="../img/overwatch.jpg" alt="Buy Overwatch today!">
          </div>
          <div class="carousel-caption">
            Buy Overwatch today!
          </div>
        </div>
        <div class="item">
          <div class="carousel-pad">
          </div>
          <div class="image-box">
            <img class="carousel-image" src="../img/zelda_botw.jpg" alt="Pre order The Legend of Zelda: Breath of the Wild today!">
          </div>
          <div class="carousel-caption">
            Pre order The Legend of Zelda: Breath of the Wild today!
          </div>
        </div>
        <div class="item">
          <div class="carousel-pad">
          </div>
          <div class="image-box">
            <img class="carousel-image" src="../img/sq4.jpg" alt="Buy Space Quest 4 today!">
          </div>
          <div class="carousel-caption">
            Buy Space Quest 4 today!
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
  <div class="col-sm-6">
    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic1" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic1" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic1" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="carousel-pad">
          </div>
          <div class="image-box">
            <img class="carousel-image" src="../img/feebles.jpg" alt="Buy Feebles now!">
          </div>
          <div class="carousel-caption">
            A loving adventure about puppets!
          </div>
        </div>
        <div class="item">
          <div class="carousel-pad">
          </div>
          <div class="image-box">
            <img class="carousel-image" src="../img/home.jpg" alt="Ahhhhhhh!">
          </div>
          <div class="carousel-caption">
            Buy Home Alone, and a cheese pizza!
          </div>
        </div>
        <div class="item">
          <div class="carousel-pad">
          </div>
          <div class="image-box">
            <img class="carousel-image" src="../img/kingdom.jpg" alt="Its a bird!">
          </div>
          <div class="carousel-caption">
            Buy it now!
          </div>
        </div>
        <div class="item">
          <div class="carousel-pad">
          </div>
          <div class="image-box">
            <img class="carousel-image" src="../img/reanimator.jpg" alt="its now alive!">
          </div>
          <div class="carousel-caption">
            Buy this great movie!
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
